# Azure OpenAI
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_DEPLOYMENT=
AZURE_OPENAI_SAFEGUARD_DEPLOYMENT=
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=

# Tavily
TAVILY_API_KEY=

# Redis Memory
REDIS_URL=redis://localhost:6379
REDIS_INDEX_NAME=memory_idx
MEMORY_SIMILARITY_THRESHOLD=0.7
